/*
  RailsAdmin main CSS
  Keep it clean, people
*/

body.rails_admin {
  
  /* Application name */
  .navbar .brand {
    small {
      color:red;
      font-weight:bold;
    }
  }
  padding-top: 60px;
  .sidebar-nav {
    padding: 9px 0;
  }
}

.form-horizontal {
  /* We want input size to be used, unfixate input width */
  input, textarea {
    width:auto;
  }
  .help-block {
    clear:left;
  }
  input[type=file] {
    display:block;
  }
}

.modal {
  width: 750px;
  margin-left: -375px;
}

/* Table cells behaviour */
.table {
  /* text-overflow when cell content > 150px */
  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width:150px;
  }

  td.links {
    max-width: none;
    .inline {
      margin:0px;
      li {
        display:inline-block;
        a {
          border-right: 1px solid #DDD;
          padding-right: 5px;
        }
        &:last-child {
          a {
            border-right: none;
          }
        }
      }
    }
  }

  /* Shrink to content width */
  .shrink {
    width:1px;
    white-space:nowrap;
  }

  /* Can't apply width:1px on sortable headers => don't play nice with sorting arrows on firefox. same for white-space:nowrap.. */
  /* History */
  th.created_at {
    width:160px;
  }
  th.username {
    width:140px;
  }
  th.item {
    width:60px;
  }
}
