- if flash && (flash[:error] || flash[:notice])
  .flash
    - if flash && flash[:error] && !flash[:error].empty?
      .message.error
        %p= flash[:error]

    - if flash && flash[:notice] && !flash[:notice].empty?
      .message.notice
        %p= flash[:notice]
