- if flash && (flash[:error] || flash[:notice])
  .flash
    - if flash[:error].present?
      .message.error
        %p= flash[:error]

    - if flash[:notice].present?
      .message.notice
        %p= flash[:notice]
