#header
  %h1
  #user-navigation
    %ul.wat-cf
      - { :home => "Dashboard", :account => "Profile", :config => "Preferences", :logout => "Logout" }.each do |image, title|
        %li= link_to icon(image, title), rails_admin_dashboard_path
      
/   %h1#logo
/     = link_to rails_admin_dashboard_path do
/       %span.image_replacement= @plugin_name
/   #headerRight
/     = render(:partial => 'rails_admin/main/user_info', :locals => {:current_user => _current_user})
