.container-fluid
  .navbar-header
    %a.navbar-brand.pjax{href: dashboard_path}
      = _get_plugin_name[0] || 'Rails'
      %small= _get_plugin_name[1] || 'Admin'
  .collapse.navbar-collapse
    = render partial: 'layouts/rails_admin/secondary_navigation'
