#sidebar
  .block
    %h3 Navigation
    = render(:partial => 'rails_admin/main/navigation')
  .block.notice
    %h4 Welcome!
    %p You're using Rails Admin with activo styling.
  -#-.block.notice
  -#  %h4 Notice Title
  -#  %p Maybe some inline help e.g. This is your Player list page. From here you find players to edit, and can apply actions to multiple players at once.
  -#-.block
  -#  .sidebar-block
  -#    %h4 History
  -#    = history_link :gunn, "deleted player #5"
  -#    = history_link :gunn, "created player #38"
  -#    = history_link :cameron, "edited name, surname and hometown for player #39"
  -#    = history_link :cameron, "created player #39"
  -#    = history_link :cameron, "created player #40"
  -#    = history_link :gunn, "created player #41"
  -#    = history_link :cameron, "created team #2"
  -#    = history_link :gunn, "created player #42"
  -#    %p
  -#      %span= link_to "and <b>75 more</b> changes".html_safe, '#'