
- content_for :page_javascript do
  = javascript_include_tag 'rails_admin/rails_admin'
  :javascript
    RailsAdmin.I18n.init(JSON.parse("#{j I18n.t("admin.js").to_json}"))

- content_for :page_css do
  = stylesheet_link_tag 'rails_admin/rails_admin'

= render template: 'layouts/express_admin/admin'
