*.gem
*.log
*.rbc
*.swp
.bundle
.idea/
.vscode/
.rvmrc
.sass-cache
.yardoc
/.emacs.desktop
/gemfiles/*.lock
/node_modules/*
/rails_admin.gems
/spec/generators/tmp
/spec/lib/tmp
/yarn.lock
Gemfile.lock
coverage/*
db/*.sqlite3
db/*.sqlite3-journal
doc/*
log/*.log
pkg/*
spec/dummy_app/db/*.sqlite3
spec/dummy_app/db/*.sqlite3-journal
spec/dummy_app/db/schema.rb
spec/dummy_app/log/*.log
spec/dummy_app/public/uploads
spec/dummy_app/Gemfile*.lock
tmp/**/*
nbproject
