before_install: gem install bundler --pre
bundler_args: "--without debug"
script: spec/ci.sh
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - rbx
  - ree
env:
  - "CI_DB_ADAPTER=sqlite3"
  - "CI_DB_ADAPTER=postgresql CI_DB_USERNAME=postgres"
  - "CI_DB_ADAPTER=mysql"
notifications:
  irc: "irc.freenode.org#railsadmin"
