<%
  property_name = property[:name]
  label = property[:pretty_name]
%>
                <div>
                  <%= label_tag label %>
                  <%= check_box property_name %>
                </div>
