<%
  property_name = property[:name]
  label = property[:pretty_name]
  model_name = @abstract_model.to_param
%>
                <div>
                  <%= label_tag label %>
                  <%= check_box model_name, property_name %>
                </div>
