<%
  property_name = property[:name]
  length = property[:length]
  label = property[:pretty_name]
  required = !property[:nullable?] || property[:serial?]
%>
                <div>
                  <%= label_tag label %>
                  <%= text_field property_name, :maxlength => length %>
                  <p class="help">
                    <%= required ? "Required." : "Optional." %>
                  </p>
                </div>
