<%
  child_key = has_one_association[:child_key].first
  association_name = has_one_association[:name]
  collection = MerbAdmin::AbstractModel.new(has_one_association[:child_model]).all.map{|object| [object_label(object), object.id]}.sort_by{|object| object.first}
  selected = @object.send(association_name)

  if selected.nil? && params["associations"]
    selected = params["associations"][child_key.to_param.pluralize].to_i
  end

  label = has_one_association[:pretty_name]
  required = false
  errors_exist = !(@object.errors[child_key].nil? || @object.errors[child_key].empty?)
  @properties.select{|property| property[:name] == child_key}.each do |property|
    required = true unless property[:nullable?]
  end
%>
              <h2><%= label %></h2>
              <div class="formSection">
                <p>
                  <%= label_tag label %>
                  <%= select("associations", association_name, collection, {:id => association_name, :include_blank => true, :selected => selected},:class => "#{errors_exist ? "errorField" : nil}") %>
                  <% if errors_exist %>
                  <span class="errorMessage"><%= "#{association_name.to_param.capitalize} #{@object.errors[association_name].first}" %></span>
                  <% end %>
                </p>
              </div>
