<%
  name = property[:name]
  label = property[:pretty_name]
  required = !property[:nullable?]
%>
                <div>
                  <%= label_tag label %>
                  <%= text_area name, :cols => 80 %>
                  <p class="help">
                    <%= required ? "Required." : "Optional." %>
                  </p>
                </div>
