<%
  property_name = property[:name]
  label = property[:pretty_name]
  required = !property[:nullable?]
  model_name = @abstract_model.to_param
%>
              <%= label_tag label %>
              <%= text_area model_name, property_name, :cols => 50, :rows => 10, :class => "textField" %>
              </p><p class="help" style="clear:both; border-top:2px solid #FFF;"><%= required ? "Required." : "Optional." %>
