<%
  property_name = property[:name]
  value = @object.send(property_name)
  label = property[:pretty_name]
  required = !property[:nullable?]
  model_name = @abstract_model.to_param
%>
                <div>
                  <%= label_tag label %>
                  <%= text_field  model_name, property_name, :class => "vDateField", :value => value.respond_to?(:strftime) ? value.strftime("%Y-%m-%d %H:%M:%S") : nil %>
                  <p class="help">
                    <%= required ? "Required." : "Optional." %>
                  </p>
                </div>
