<ul class="breadcrumb">
  <li>
    <a href="#"><%= current_user.email.split("@")[0] %></a>
  </li>
  <!--<li>|</li>
  <li>
    <a href="#">My profile</a>
  </li>-->
  <li>|</li>
  <li>
    <a href="<%= destroy_user_session_path() %>"><%= t("admin.credentials.log_out")%></a>
  </li>
</ul>