<ul class="breadcrumb">
  <li>
    <a href="#"><%= current_user.email.split("@")[0] %></a>
  </li>
  <li>|</li>
  <li>
    <a href="#">My profile</a>
  </li>
  <li>|</li>
  <li>
    <a href="<%= destroy_user_session_path() %>">Log out</a>
  </li>
</ul>