/* Code is poetry */

* {
  margin:0;
  padding:0;
}

body{
  text-align:center;
  background:#f6f6f6 url(/images/background.png) repeat-x;
  font-family:Verdana, Geneva, sans-serif;
  font-size:12px;
}

#wraper{
  width:960px;
  margin:0px auto;
  text-align:left;
}

#header{
  font-size:10px;
  color:#FFF;
  margin-top:8px;

  height:67px;
}

#header a{
  color:#FFF;
}

#headerLeft ul:first-child{
  position:absolute;
}

ul.breadcrumb{
  float:left;
  list-style-type:none;
  height:14px;
}

ul.breadcrumb li{
  float:left;
  margin-right:3px;
}

ul.breadcrumb li a{
  text-decoration:none;
}

ul.breadcrumb li a:hover{
  text-decoration:underline;
}

.here{
  margin-left:4px;
  margin-right:4px;
}

#headerLeft{
  float:left;
}

#headerLeft h1{
  margin-top:25px;
  font-weight:normal;
  font-size:22px;

}

#nav li#more{
  margin-top:-9px;
}

#nav li#more a{
  background:url(/images/navigation_more.png) no-repeat;
  display:block;
  text-indent:-9999px;
}

ul#nav{
  float:left;
  list-style-type:none;
  margin-top:26px;
  margin-left:20px;
}

#nav li{
  display:block;
  float:left;

  font-size:12px;
  padding-bottom:8px;
  padding-top:8px;
  margin-right:2px;
}
#nav li a{
  color:#000;
  text-decoration:none;
  padding:8px;
  padding-left:12px;
  padding-right:12px;
  background:#9e988e;
}

#nav li a:hover{
  background:#aaa69f;
}

#nav li#active a{
  background:#F6F6F6;
}

#nav li a img{
  border:none;
}

#nav li a.addnew{
  position:relative;
  right:9px;
  top:1px;
  color:#000;
  text-decoration:none;
  padding:0px;
  padding-left:0px;
  padding-right:0px;
}

#headerRight{
  float:right;
}

#searchbar{
  margin-left:-60px;
  margin-top:8px;
}

#searchbar fieldset{
  border:none;
}

#searchbar input#search{
  border:none;
  background:#f6f6f6;
  font-size:12px;
  font-family:Verdana, Geneva, sans-serif;
  padding:4px;
  width:200px;
}

#search_btn{
  margin-left:-4px;
  position:relative;
  top:6px;
}

#content{
  width:960px;
  float:left;
  background:#FFF;
  border:1px solid #e6e6e6;

}

#contentHeader{
  background:#eaeaea;
  padding:8px;
  height:18px;
}

#contentHeader h2{
  float:left;
  font-size:12px;
}

#contentMain{
  padding:5px;
}

#contentMainModules{
  padding:7px;
}

ul#quick{
  list-style-type:none;
  font-size:11px;
}

ul#quick li{
  float:left;
  margin-left:3px;
}

ul#quick li ul{
  display:none;
  list-style-type:none;
}

ul#quick li:hover ul{
  display:block;
}

ul#quick li:hover ul a{
  background:none;
  background:#f0eeda;
}

ul#quick li a {
  background:url(/images/fast_btn.png) repeat-x;
  border:1px solid #DDD;
  padding:5px;
  text-decoration:none;
  color:#000;
  padding-left:10px;
  padding-right:10px;
  display:block;
  margin-bottom:1px;
  width:80px;
  text-align:center;
}

#quickAccess{
  margin-top:-4px;
  float:right;
}

#highlight{
  background:#eabb60;
  padding:8px;
  margin:5px;
  font-size:11px;
  font-family:Verdana, Geneva, sans-serif;
  color:#FFF;
}

#notice{
  background:#bd2b14;
  padding:8px;
  margin:5px;
  font-size:11px;
  font-family:Verdana, Geneva, sans-serif;
  color:#FFF;
  padding-top:5px;
  padding-bottom:10px;
  padding-left:9px;
}

#notice img{
  position:relative;
  top:4px;
  right:3px;
}

ul#nav li#more a{
  width:25px;
  height:32px;
  padding:0;
  margin:0;
}

ul#nav li#more:hover ul{
  display:block;
}

ul#nav li#more ul{
  display:none;
  margin:0;
  background:#9e988e;
  width:120px;
  position:absolute;
  margin-left:-2px;
}

ul#nav li#more ul li{
  float:none;
  margin:0;
  padding:5px;
  padding-bottom:0px;
  padding-top:0px;
}

ul#nav li#more ul li:first-child  a{
  border-top:none;
}

ul#nav li#more ul li a{
  background:none;
  text-indent:0px;
  padding:0;
  height:15px;
  font-size:10px;
  color:#FFF;
  padding-top:7px;
  padding-bottom:4px;
  border-top:1px solid #c7c7c7;
  width:110px;
}
