
#moduleHeader{
	border-top:1px solid #b9b9b9;
	border-bottom:1px solid #b9b9b9;
	list-style-type:none;
	height:22px;
}

#moduleHeader li{
	padding-top:4px;
	padding-bottom:4px;
	float:left;

}

#moduleHeader li a {
	text-decoration:none;
	font-size:10px;
	color:#000;
}

.idHeader{
	width:46px;
	text-align:center;
}

.idRow{
	width:46px;
	text-align:center;
}

.boolRow{
	width:50px;
	text-align:center;
}

.boolHeader{
	width:50px;
	text-align:center;
}

.dateHeader{
	text-align:center;
	width:90px;
}
.dateRow{
	text-align:center;
	width:90px;
}
.timeHeader{
	background:#F99;
	text-align:center;
	width:60px
}
.timeRow{
	text-align:center;
	width:60px
}
.dateTimeHeader{
	text-align:center;
	width:170px
}
.dateTimeRow{
	text-align:center;
	width:170px
}
.smallStringHeader{
	text-align:center;
	width:180px
}
.smallStringRow{
	text-align:center;
	width:180px;
}

.bigStringHeader{
	text-align:center;
	width:240px

}
.bigStringRow{
	text-align:center;
	width:240px
}

.textHeader{
	text-align:center;
	width:240px
}
.textRow{
	text-align:center;
	width:240px
}
.intHeader{
	text-align:center;
	width:80px
}
.intRow{
	text-align:center;
	width:80px

}
.bigDecimalHeader{
	background:#CC6;
	text-align:center;
	width:110px

}
.bigDecimalRow{
	text-align:center;
	width:110px

}
.floatHeader{
	text-align:center;
	width:110px
}
.floatRow{
	text-align:center;
	width:110px
}


.otherHeader{
	width:40px;
	text-align:center;
}

.otherRow{
	width:40px;
	text-align:center;
}

.otherRow a{
	padding-left:2px;
	padding-right:2px;
	text-decoration:none;
	border:1px solid #B9B9B9;
	background:#FFF;
	color:#494949;
}

.otherRow a:hover{
	border:1px solid #494949;
}

.actionRow{
	width:80px;
	text-align:center;
}

.actionRow a{
	text-decoration:none;
	font-weight:bold;
	/* 6C9 */
}

.actionRow a:hover{
	text-decoration:underline;
}

.editAction a{
	color:#5182ab;
}

.deleteAction a{
	color:#ad0208;
}


.actionHeader{

	width:80px;
	text-align:center;
	font-size:10px;
	margin-top:1px;
}

.columnSelected{
	font-weight:bold;
}

ul.infoRow{
	border-bottom:1px solid #b9b9b9;
	list-style-type:none;
	height:31px;
}

ul.infoRow li{
	float:left;
	padding-top:9px;
	padding-bottom:9px;
	font-size:11px;
}

.boldRow{
	font-weight:bold;
}

.greyRow{
	background:#f2f2f2;
}

.searchBox{
	padding:5px;
	height:23px;
	background:#e0ecfc;
	border-bottom:1px solid #B9B9B9;
}

.quickInsert{
	border-bottom:1px solid #B9B9B9;
	background:#f4e8d9;
	height:23px;
}

.searchBox fieldset{
	border:none;
}

#searchBar{
	border:1px solid #cbcbcb;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	padding:4px;
	float:left;
	width:300px;
}



.searchBox span{
	float:left;

	display:block;
	font-size:10px;
	border:1px solid #cbcbcb;
	background:#FFF;
	padding:5px;
	padding-left:6px;
	padding-right:6px;
	margin-left:5px;

}

#searchBtn{

	background:none;
	border:none;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	background:#FFF;
	border:1px solid #cbcbcb;
	padding:4px;
	padding-left:6px;
	padding-right:6px;
	margin-left:5px;
}


#moduleHeader li a img{
	margin-bottom:-4px;
	border:none;
}

#pagination{
	text-align:center;
	margin-top:9px;
	margin-bottom:15px;
}

#pagination a{
	background:#FFF;
	color:#000;
	border:1px solid #DDD;
	padding:6px;
	padding-top:3px;
	padding-bottom:3px;
	text-decoration:none;
}

#pagination a:hover{
	background:#EEE;
	border:1px solid #494949;
}

#searchbar_btn{
	background:#DDD;
	border:1px solid #CBCBCB;
	font-family:Verdana,Geneva,sans-serif;
	font-size:10px;
	padding:5px;
	padding-left:6px;
	padding-right:6px;
	margin-left:3px;
}

.this-page{
	padding:3px;
}