<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
</head>
<body>
<h1 id="app_layout_warning">If you see this it means that there's a bug in rails_admin which is causing rails_admin's pages to be rendered with the application's layout.</h1>

<%= yield %>

</body>
</html>
