/* Code is poetry */

* {
  margin:0;
  padding:0;
}

body{
  background:#fff url(../../images/rails_admin/background.png) repeat-x;
  font-family:Verdana, Geneva, sans-serif;
  font-size:12px;
}

a img {
  border:0;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

fieldset {
  border:none;
}

.image_replacement{
	background-repeat:no-repeat;
	text-indent:-9999px;
	display:block;
	overflow:hidden;
}

#wrapper{
  width:960px;
  margin:0px auto;
  text-align:left;
}

#header{
  font-size:10px;
  height:50px;
}

#header a{
  color:#666;
}

ul.breadcrumb{
	height:50px;
  list-style-type:none;
	position:absolute;
}

ul.breadcrumb li{
	margin-top:12px;
	font-size: 200%;
	text-transform: lowercase;
  float:left;
  margin-right:3px;
	color:#ccc;
}

ul.breadcrumb li a{
  text-decoration:none;
	color:#999 !important;
}

ul.breadcrumb li:last-child span {
	color:#666 !important;
}

ul.breadcrumb li a:hover{
  text-decoration:underline;
	color:#666;
}

.user_info{
	margin-top:9px;
}

.user_info img{
	float:left;
}

.user_info ul{
	margin-left:5px;
	float:left;
}

.user_info li{
	font-size:90%;
	list-style-type:none;
}

.user_info li strong{
	font-size:120%;
}

.user_info li a{
	text-decoration:none;
	color:#333;
}

#headerLeft{
  float:left;
}

h1#logo{
  float:left;
  padding-top:12px;
  font-weight:normal;
  font-size:22px;
  width:64px;
}

h1#logo span.image_replacement{
	background-image:url(../../images/rails_admin/logo.png);
	width:64px;
	height:46px;
        float: left;
}

#headerRight{
  float:right;
}

#header2{
  font-size:10px;
  height:70px;
}

#content {
  width:960px;
  background:#FFF;
  margin: 20px 0;
  border-bottom: 1px solid #e6e6e6;
}

.ra-block .ui-widget-header {
  padding:8px;
}

.ra-block-content {
  padding:10px;
  border-left:1px solid #e6e6e6;
  border-right:1px solid #e6e6e6;
}

.ra-block-content .ra-block-content {
  border: none;
}

.ra-block .ra-block-toolbar {
  border-top:1px solid #e6e6e6;
  border-bottom:1px solid #e6e6e6;
  border-left: none;
  border-right: none;
  padding:5px;
  margin-bottom: 10px;
}

.ra-block-toolbar ul {
  list-style-type:none;
  float: right;
}

.ra-block-toolbar ul li {
  float:left;
  margin-left:3px;
}

.ra-message {
  padding: 10px;
  margin-bottom: 10px;
}

.ra-button .ui-button-text {
  line-height: 1em;
}

input {
  font-family:Verdana, Geneva, sans-serif;
  font-size:12px;
  padding:5px;
  border-left:1px solid #e2e3ea;
  border-top:1px solid #abadb3;
  border-bottom:1px solid #e3e9ef;
  border-right:1px solid #dbdfe6;
}

ul#nav{
  float:left;
  list-style-type:none;
  margin-top:38px;
  margin-left:20px;
}

#nav li{
  display:block;
  float:left;
  font-size:12px;
  padding-bottom:8px;
  padding-top:8px;
  margin-right:2px;
}

#nav li a{
	border: 1px solid #ededed;
  color:#000;
  text-decoration:none;
  padding:8px;
  padding-left:12px;
  padding-right:12px;
  background:#fff url(../../images/rails_admin/menu_hover.png) bottom repeat-x;
}

#nav li a:hover{
  background:#fff;
}

#nav li.active a{
	border-bottom-color: #fff;
  background:#fff;
}

#nav li a img{
  border:none;
}

#nav li a.addnew{
  position:relative;
  right:9px;
  top:1px;
  color:#000;
  text-decoration:none;
  padding:0px;
  padding-left:0px;
  padding-right:0px;
}

#nav li.more{
  margin-top:-9px;
}

ul#nav li.more:hover ul{
  display:block;
	z-index:1;
}

ul#nav li.more ul{
  display:none;
  margin:0;
  width:120px;
  position:absolute;
  margin-top:-1px;
}

ul#nav li.more ul li{
  float:none;
  margin:0;
  padding:0;
}

#nav li.more a{
  display:block;
}

ul#nav li.plus.more>a{
  background:url(../../images/rails_admin/navigation_more.png) no-repeat;
  text-indent:-9999px;
	border: 1px solid #ededed;
  width:25px;
  height:31px;
  padding:0;
  margin:0;
}

ul#nav li.more ul li a{
  background:#dedede;
  text-indent:0px;
  padding:7px 5px 4px 5px;
  height:15px;
  font-size:10px;
  width:110px;
}

ul#nav li.more ul li a:hover{
  background:#ccc;
}

ul#nav li.more ul li.active a{
  background:#ccc;
}

.submit {
  margin-top: 15px;
  display:block;
  list-style-type:none;
}

.submit li {
  float: left;
  margin-right: 4px;
}

ul.items {
  margin: 10px 10px 10px 14px;
}

ul.items li {
  margin-bottom: 3px;
  margin-left: 5px;
}

ul.items li a {
  color: #000;
}

ul.items li a:hover {
  text-decoration: none;
}