/* Code is poetry */

#container #header {
  background-image: none;
}

#header h1.title {
  float: left;
  padding: 15px 5px;
  text-shadow: 1px 1px 1px #000;
  font-family: Tahoma, "Arial Black", Arial"MS Trebuchet", sans-serif;
  font-weight: bold;
}

.red {
  color: #C00;
}

ul#nav li.active {
  background-color: #bcbcbc;
}

ul#nav li:hover {
  background-color: #a7a7a7;
}

#sidebar ul#nav li.active a {
  font-weight: bold;
  color: inherit;
}