/* Code is poetry */

* {
  margin:0;
  padding:0;
}

body{
  text-align:center;
  background:#fff url(/images/rails_admin/background.png) repeat-x;
  font-family:Verdana, Geneva, sans-serif;
  font-size:12px;
}

a img {
  border:0;
}

.image_replacement{
	background-repeat:no-repeat;
	text-indent:-9999px;
	display:block;
	overflow:hidden;
}

#wrapper{
  width:960px;
  margin:0px auto;
  text-align:left;
}

#header{
	margin-bottom: 25px;
  font-size:10px;
  color:#FFF;
  height:120px;
}

#header a{
  color:#666;
}

ul.breadcrumb{
	height:50px;
  list-style-type:none;
	position:absolute;
}

ul.breadcrumb li{
	margin-top:12px;
	font-size: 200%;
	text-transform: lowercase;
  float:left;
  margin-right:3px;
	color:#ccc;
}

ul.breadcrumb li a{
  text-decoration:none;
	color:#999 !important;
}

ul.breadcrumb li:last-child a{
	color:#666 !important;
}

ul.breadcrumb li a:hover{
  text-decoration:underline;
	color:#666;
}

.user_info{
	margin-top:9px;
}

.user_info img{
	float:left;
}

.user_info ul{
	margin-left:5px;
	float:left;
}

.user_info li{
	font-size:90%;
	list-style-type:none;
}

.user_info li strong{
	font-size:120%;
}

.user_info li a{
	text-decoration:none;
	color:#333;
}

.here{
  margin-left:4px;
  margin-right:4px;
}

#headerLeft{
  float:left;
}

#headerLeft h1#logo{
	margin-top:62px;
  font-weight:normal;
  font-size:22px;
}
#headerLeft h1#logo span.image_replacement{
	background-image:url(/images/rails_admin/logo.png);
	width:64px;
	height:46px;
}

#headerRight{
  float:right;
}

#searchbar{
  margin-left:-60px;
  margin-top:8px;
}

#searchbar fieldset{
  border:none;
}

#searchbar input#search{
  border:none;
  background:#f6f6f6;
  font-size:12px;
  font-family:Verdana, Geneva, sans-serif;
  padding:4px;
  width:200px;
}

#search_btn{
  margin-left:-4px;
  position:relative;
  top:6px;
}

#content{
  width:960px;
  float:left;
  background:#FFF;
  border:1px solid #e6e6e6;
}

#contentHeader{
  background:#eee;
  padding:8px;
	text-transform:lowercase;
	color:#900;
}

#contentHeader h2{
  font-size:150%;
}

#contentMain{
  padding:5px;
}

#contentMainModules{
  padding:7px;
}

ul#quick{
  list-style-type:none;
  font-size:11px;
  float: right;
}

ul#quick li{
  float:left;
  margin-left:3px;
}

ul#quick li ul{
  display:none;
  list-style-type:none;
}

ul#quick li:hover ul{
  display:block;
}

ul#quick li:hover ul a{
  background:none;
  background:#f0eeda;
}

ul#quick li a {
  background:url(/images/rails_admin/fast_btn.png) repeat-x;
  border:1px solid #DDD;
  padding:5px;
  text-decoration:none;
  color:#000;
  padding-left:10px;
  padding-right:10px;
  display:block;
  margin-bottom:1px;
  width:80px;
  text-align:center;
}

#quickAccess{
  margin-top:-24px;
  float:right;
}

#highlight{
  background:#eabb60;
  padding:8px;
  margin:5px;
  font-size:11px;
  font-family:Verdana, Geneva, sans-serif;
  color:#FFF;
}

#notice{
  background:#bd2b14;
  padding:8px;
  margin:5px;
  font-size:11px;
  font-family:Verdana, Geneva, sans-serif;
  color:#FFF;
  padding-top:5px;
  padding-bottom:10px;
  padding-left:9px;
}

#notice img{
  position:relative;
  top:4px;
  right:3px;
}

ul#nav{
  float:left;
  list-style-type:none;
  margin-top:88px;
  margin-left:20px;
}

#nav li{
  display:block;
  float:left;
  font-size:12px;
  padding-bottom:8px;
  padding-top:8px;
  margin-right:2px;
}

#nav li a{
	border: 1px solid #ededed;
  color:#000;
  text-decoration:none;
  padding:8px;
  padding-left:12px;
  padding-right:12px;
  background:#fff url(/images/rails_admin/menu_hover.png) bottom repeat-x;
}

#nav li a:hover{
  background:#fff;
}

#nav li.active a{
	border-bottom-color: #fff;
  background:#fff;
}

#nav li a img{
  border:none;
}

#nav li a.addnew{
  position:relative;
  right:9px;
  top:1px;
  color:#000;
  text-decoration:none;
  padding:0px;
  padding-left:0px;
  padding-right:0px;
}

#nav li.more{
  margin-top:-9px;
}

ul#nav li.more:hover ul{
  display:block;
}

ul#nav li.more ul{
  display:none;
  margin:0;
  width:120px;
  position:absolute;
  margin-top:-1px;
}

ul#nav li.more ul li{
  float:none;
  margin:0;
  padding:0;
}

#nav li.more a{
  background:url(/images/rails_admin/navigation_more.png) no-repeat;
  display:block;
  text-indent:-9999px;
}

ul#nav li.more a{
	border: 1px solid #ededed;
  width:25px;
  height:31px;
  padding:0;
  margin:0;
}

ul#nav li.more ul li a{
  background:#dedede;
  text-indent:0px;
  padding:7px 5px 4px 5px;
  height:15px;
  font-size:10px;
  width:110px;
}

ul#nav li.more ul li a:hover{
  background:#ccc;
}

ul#nav li.more ul li.active a{
  background:#ccc;
}
