
/* Styles for ColorPicker popUp */
.color{
  width: 50px !important
}
#colorpicker {
  position: absolute;
  width: 145px;
  height: 135px;
  overflow: hidden;
  background: #F9F9F9;
  border: 1px #C0C0C0 solid;
  border-radius: 3px;
  z-index: 1000;
}

#colorpicker-hue-container {
    position: absolute;
    top: 4px;
    left: 120px;
    width: 18px;
    height: 110px;
}

#colorpicker-hue-bg-img {
    width: 100%;
    height: 100%;
}

#colorpicker-hue-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#colorpicker-hue-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 1009;
    cursor: default;
}

#colorpicker-bar {
  text-align: right;
  padding-right: 10px;
}

#colorpicker-close {
  cursor: pointer;
  color: blue;
  font-size: 10px;
  font-family: Tahoma, Helvetica, Sans-Serif;
  font-weight: bold;
}

#colorpicker-div {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 100px;
  height: 100px;
  border: 1px solid #666;
}

#colorpicker-bg,
#colorpicker-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  overflow: hidden;
}
#colorpicker-selector {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 11px;
  height: 11px;
  z-index: 1009;
  margin-top: -6px;
  margin-left: -6px;
  cursor: default;
}
#colorpicker-selector img {
  position: absolute;
  left: 0;
  top: 0;
}
#colorpicker-footer {
  position: absolute;
  top: 114px;
  left: 10px;
  width: 127px;
}

#colorpicker-value {
  float: left;
}

#colorpicker-value,
#colorpicker-value-input {
  font-size: 9px !important;
  font-family: Helvetica, Verdana, Sans-Serif;
  height: 10px;
}

#colorpicker-value-input {
  width: 40px;
}
#colorpicker-okbutton {
  float: right;
  padding: 0 10px;
  background: #0097CF;
  font-size: 10px;
  font-family: Tahoma, Helvetica, Sans-Serif;
  border: 1px solid #0076C3;
  color: #ffffff;
}
