#contentMainNew{
  padding:5px;
  margin-bottom:5px;
}

#contentMainNew fieldset{
  border:none;
}

#contentMainNew h2{
  clear:both;
  margin-top:2px;
  margin-bottom:3px;
  border-bottom:1px solid #b9b9b9;
  padding-bottom:4px;
  font-weight:normal;
  color:#9e988e;
  text-transform:uppercase;
  font-weight:bold;
  font-size:10px;
}

.formSection p{
  padding-top:5px;
  padding-bottom:5px;
  margin-bottom:1px;
  height:26px;
}

.formSection{
  margin-bottom:5px;
}

.formSection label{
  width:100px;
  display:block;
  float:left;
  margin-top:6px;
  font-size:11px;
  font-weight:bold;
  margin-left:2px;
}

.formSection label.inline{
  display:inline;
  float:none;
  font-weight:normal;
}

.field {
  margin-bottom: 1px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.field .input {
  margin-left: 103px;
}

.field .row {
  margin: 10px 0;
}

.field .date,
.field .datetime,
.field .decimal,
.field .float,
.field .integer,
.field .text,
.field .time,
.field .timestamp,
.field .password,
.field .string {
  font-family:Verdana, Geneva, sans-serif;
  font-size:12px;
  padding:5px;
  width:250px;
  border-left:1px solid #e2e3ea;
  border-top:1px solid #abadb3;
  border-bottom:1px solid #e3e9ef;
  border-right:1px solid #dbdfe6;
}

.field .boolean {
  float:left;
  margin-top:6px;
}

.field .decimal {
  width:170px;
}

.field .float {
  width:120px;
}

.field .date, .field .timestamp, .field .time, .field .datetime {
  width:150px;
}

.field .integer {
  width:90px;
}

.field .text {
  height:100px;
  width: 450px;
}

.formSection p.boolPlace{
  padding-top:2px;
}

.modifyInt{
  float:left;
  margin-left:5px;
}

.modifyInt a{
  display:block;
  width:9px;
  height:7px;
}

.modifyInt a img{
  border:none;
}

.modifyDown{
  margin-top:2px;
}

#error{
  background:#903333;
  padding:6px;
  padding-bottom:3px;
  color:#FFF;
  margin-top:2px;
  margin-bottom:5px;
}

#error h3{
  margin-bottom:5px;
}

#error ul{
  list-style-type:none;
}

#error ul li{
  margin-bottom:5px;
}

.errorField{
  border:1px solid #bd2b14;
}

.errorMessage{
  display:block;
  margin-top:5px;
  margin-left:103px;
  color:#bd2b14;
}

#submitArea{
  display:block;
  list-style-type:none;
  margin-bottom:-7px;
}

#submitArea li{
  float:left;
  margin-right:4px;
}

.breakSpan{
  float:left;
  width:100%;
  display:block;
  height:1px;
}

p.help{
  clear:both;
  padding-top:2px;
  padding-bottom:0px;
  margin-bottom:0px;
  height:15px;
  font-size:10px;
  margin-left:103px;
  display:block;
  font-style: italic;
  color: #999;
}

.selectField{
  float:left;
  margin-top:4px;
}

.manySelector{
  clear:both;
  margin-left:102px;
}

.manySelector select{
  padding:5px;
  font-family:Verdana, Geneva, sans-serif;
  font-size:12px;
  width:191px;
  border-left:1px solid #e2e3ea;
  border-top:1px solid #abadb3;
  border-bottom:1px solid #e3e9ef;
  border-right:1px solid #dbdfe6;
  float:left;
}

.searchMany{
  background:url(/images/rails_admin/magnifier.png) no-repeat;
  padding-left:19px;
  padding-top:5px;
  font-size:11px;
  font-family:Verdana, Geneva, sans-serif;
  padding-bottom:5px;
  background-position:2px 4px;
  border-left:1px solid #e2e3ea;
  border-top:1px solid #abadb3;
  border-bottom:1px solid #e3e9ef;
  border-right:1px solid #dbdfe6;
  margin-bottom:5px;
  width:170px;
  color:#AAA;
}

.add_elem{
  float:left;
  border:none;
  margin-top:50px;
  margin-right:3px;
  margin-left:3px;
}

.remove_elem{
  float:left;
  border:none;
  margin-top:74px;
  margin-left:-19px;
}

.many_controls{
  margin-left:103px;
  clear:both;
}

.many_controls a img{
  border:none;
  position:relative;
  top:4px;
}

.add_all{
  left:2px;
}

.many_controls a{
  text-decoration:none;
  color:#000;
  font-size:11px;
  font-weight:bold;
}

.clear_all{
  margin-left:125px;
  margin-right:3px;
}

.many_header{
  margin-left:103px;
  margin-top:8px;
}

.many_header p{
  float:left;
  margin-top:-5px;
  margin-left:22px;
  font-size:10px;
  line-height:7px;
}

.many_header p img{
  position:relative;
  top:4px;
}

.many_header p strong{
  display:block;
}

.searchMany{
  float:left;
}

input.default{
  color:#d9eef7;
  border: solid 1px #0076c3;
  background: #007ead;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

input.default:active{
  background: #00adee;
  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
  background: -moz-linear-gradient(top,  #0078a5,  #00adee);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

.button:active{
  background: #CCCCCC;
  background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#DDDDDD));
  background: -moz-linear-gradient(top,  #CCCCCC,  #DDDDDD);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCCCCC', endColorstr='#DDDDDD');
}

.button{
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  padding:5px;
  padding-left:10px;
  padding-right:10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  color: #000;
  border: solid 1px #CDCDCD;
  background: #DDDDDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#CCCCCC));
  background: -moz-linear-gradient(top,  #DDDDDD,  #CCCCCC);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#CCCCCC');
}

#deleteItem{
  float:right;
  text-decoration:none;
  margin-right:10px;
  color:#AD0208;
  font-weight:bold;
}

#deleteItem img{
  position:relative;
  top:4px;
  right:2px;
}

.cke_skin_kama {
  margin-left: 100px;
}

