#modelNameHeader {
  margin-left:5px;
  text-align: left;
}

.grid tbody td.modelNameRow {
  text-align: left;
  margin-left:5px;
}

.grid tbody td {
  padding: 4px;
  border: none;
}

.scale{
  margin:0 auto;
  display:block;
  width:200px;
  height:13px;
}

.bar{
  margin:0 auto;
  background:#bcceb6;
  display:block;
  height:13px;
}

.add{
  color:#9a012f;
  font-weight:bold;
  text-decoration:none;
  padding-right:3px;
}

a.add:hover{
  text-decoration:underline;
}

.show{
  padding-left:3px;
  color:#215086;
  font-weight:bold;
  text-decoration:none;
}

a.show:hover{
  text-decoration:underline;
}

.section h2{
  margin-top:2px;
  font-size:12px;
  border-bottom:1px solid #DDD;
  padding-bottom:4px;
  font-weight:normal;
  padding-left:5px;
  margin-top:5px;
}

#timeline {
  margin-top:8px;
  background-color:#f6f6f6;
  border:1px solid #dbdbdb;
  height:53px;
}
#timeline a img{
  border:none;
}

#arrowLeft{
  float:left;
  margin-top:16px;
}
#arrowRight{
  float:right;
  margin-top:16px;
}

#timelineSlider{
  float:left;
  position:relative;
}

#timelineSlider ul{
  list-style-type:none;
}

#timelineSlider ul li{
  float:left;
  font-size:10px;
  width:183px;
  text-align:center;
  border-left:1px solid #DDD;
  height:53px;
}
#timelineSlider ul li:first-child{
  border:none;
}

.bars{
  display:block;
  height:39px;
  margin-top:2px;
  position:relative;
}

.indicator{
  display:block;
  background:#bcceb6;
  position:absolute;
  bottom:0;
  width:183px;
}

.high{
  background:#bf2531;
}

.medium{
  background:#d2a71c;
}

#handler{
  position:absolute;
  top:-12px;
  left:-5px;
}

#listing{
  margin-top:40px;
  margin-bottom:5px;
}

#history{
  list-style-type:none;
}

#history li{
  padding-bottom:8px;
}

#history li a img{
  border:none;
  position:relative;
  top:4px;
  left:2px;
}

#history li em{
  font-style:normal;
  text-decoration:underline;
}

#history li{
  font-size:11px;
  font-weight:bold;
}
