.grid {
  width: 100%;
  border-collapse:collapse;
}

.grid thead th {
  border-bottom:2px solid #b9b9b9;
  padding: 9px;
  text-align:center;
}

.grid thead th a {
  padding-right: 20px;
  padding-left: 10px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: right;
  text-decoration:none;
  color:#000;
}

.grid thead th a.ascending {
  background-image: url(/images/rails_admin/bullet_arrow_up.png);
}

.grid thead th a.descending {
  background-image: url(/images/rails_admin/bullet_arrow_down.png);
}

.grid tbody .boolean {
  margin-bottom:-5px;
}

.grid tbody .date {
  white-space: nowrap;
}

.grid tbody .datetime {
  white-space: nowrap;
}

.grid tbody .time {
  background:#F99;
  white-space: nowrap;
}

.grid tbody .other a {
  padding-left:2px;
  padding-right:2px;
  text-decoration:none;
  border:1px solid #B9B9B9;
  background:#FFF;
  color:#494949;
}

.grid tbody .other a:hover {
  border:1px solid #494949;
}

.grid tbody .action a {
  text-decoration:none;
  font-weight:bold;
}

.grid tbody .action a:hover {
  text-decoration:underline;
}

.grid .action.edit a {
  color:#5182ab;
}

.grid .action.delete a {
  color:#ad0208;
}

.grid thead .action {
  font-size:10px;
  margin-top:1px;
}

.grid thead .selected {
  font-weight:bold;
}

.grid tbody td {
  border-bottom:1px solid #b9b9b9;
  padding: 9px;
  text-align:center;
}

.grid tbody .even {
  background:#f2f2f2;
}

.searchBox {
  padding:5px;
  height:23px;
  background:#e0ecfc;
  border-top:1px solid #B9B9B9;
  border-bottom:1px solid #B9B9B9;
}

.searchBox fieldset {
  border:none;
}

#searchBar {
  border:1px solid #cbcbcb;
  font-size:12px;
  padding:4px;
  float:left;
  width:300px;
}

.searchBox span {
  float:left;
  display:block;
  font-size:10px;
  border:1px solid #cbcbcb;
  background:#FFF;
  padding:5px;
  padding-left:6px;
  padding-right:6px;
  margin-left:5px;
}

#pagination {
  clear:both;
  text-align:center;
  margin-bottom:15px;
  padding-top:10px;
}

#pagination a {
  background:#FFF;
  color:#000;
  border:1px solid #DDD;
  padding:6px;
  padding-top:3px;
  padding-bottom:4px;
  text-decoration:none;
}

#pagination a:hover {
  background:#EEE;
  border:1px solid #494949;
}

#searchbar_btn, #bulkdelete_btn {
  background:#DDD;
  border:1px solid #CBCBCB;
  font-size:10px;
  padding-top:3px;
  padding-bottom:4px;
  padding-left:6px;
  padding-right:6px;
  margin-left:3px;
}

#bulkdelete_btn {
  float: right;
  margin-top: 3px;
}

#tableFooter {
  height: 24px;
}

.this-page {
  padding:3px;
}

.historyLink {
  color:#000;
  text-decoration:none;
}

.historyLink:hover {
  text-decoration:underline;
}
