.ra-filtering-select-input {
  border-right: 0 none transparent !important;
}

.ra-filtering-select-button .ui-icon {
  margin-left: -8px;
}



/* FIXME: replace these styles with something competent: */

.ra-filtering-select-input  {
  font-family:Verdana, Geneva, sans-serif;
  font-size: 12px;
  height: 26px;
  padding: 0 0 0 5px;
  border-left:1px solid #e2e3ea;
  border-top:1px solid #abadb3;
  border-bottom:1px solid #e3e9ef;
  border-right:1px solid #dbdfe6;
}

.ra-filtering-select-button {
  vertical-align: top;
  height: 28px;
  border: 1px solid #e1e1e1;
  border-top-style: solid;
  border-top-color: #ccc;
}
