/*
  Customize Sass mixins from Twitter-Bootstrap/RailsAdmin theme or add new ones for your own use.
  Copy this file to your app/assets/rails_admin/custom/mixins.scss, leave this one untouched
  Don't require it in your application.rb

  Available mixins to use/override:

  https://github.com/twbs/bootstrap-sass/tree/master/assets/stylesheets/bootstrap/mixins
  https://github.com/railsadminteam/rails_admin/blob/master/app/assets/stylesheets/rails_admin/base/mixins.scss
  Plus the ones from your theme.
*/
