/*
  Customize Sass variables from Twitter-Bootstrap/RailsAdmin theme or add new ones for your own use.
  Copy this file to your app/assets/rails_admin/custom/variables.scss, leave this one untouched
  Don't require it in your application.rb

  Available variables to use/override:

  https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
  https://github.com/sferik/rails_admin/blob/master/app/assets/stylesheets/rails_admin/base/variables.scss
  Plus the ones from your themes.

  Test me: pink links

  $link-color: #F0F;
*/
