@charset "UTF-8";
/*  Activo's main stylesheet (alpha version!)
 *
 *  David Marquês Francisco
 *  (dfrancisc[at]gmail.com)
 *
 */
/*  Cross-browser mixins
 *
 *  David Marquês Francisco
 *  (dfrancisc[at]gmail.com)
 *

/*  Stylesheet for formtastic
 *
 *  David Marquês Francisco
 *  (dfrancisc[at]gmail.com)
 *
 */
#main .block .content .inner form.formtastic, #full-main .block .content .inner form.formtastic {
  padding-right: 7px; }

form.formtastic {
  /* COLUMNS */ }
  form.formtastic hr {
    height: 1px;
    border-bottom: solid #eaeaea 1px;
    padding-top: 10px;
    margin-bottom: 15px;
    background-color: white;
    margin-right: -5px; }
  form.formtastic .wat-cf {
    padding-top: 10px; }
  form.formtastic fieldset {
    font-size: 14px;
    width: 100%;
    /* LABELS */ }
    form.formtastic fieldset.column_left {
      float: left;
      width: 47%;
      margin-left: 0px; }
    form.formtastic fieldset.column_right {
      float: right;
      width: 48%;
      margin-right: 0px; }
    form.formtastic fieldset > ol > li {
      /* FIELDS */ }
      form.formtastic fieldset > ol > li label {
        color: #666666;
        width: 100%; }
      form.formtastic fieldset > ol > li fieldset ol {
        padding: 20px 0 0 0; }
      form.formtastic fieldset > ol > li.string input, form.formtastic fieldset > ol > li.password input, form.formtastic fieldset > ol > li.numeric input, form.formtastic fieldset > ol > li.text textarea, form.formtastic fieldset > ol > li.datepicker input {
        width: 100%;
        max-width: 100%;
        border: 1px solid #dddddd;
        padding: 2px;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); }
      form.formtastic fieldset > ol > li.select select, form.formtastic fieldset > ol > li.file input {
        width: 100%;
        max-width: 100%; }
      form.formtastic fieldset > ol > li.datepicker input {
        background: url("images/icons/calendar.png") no-repeat right; }
      form.formtastic fieldset > ol > li.string input:focus, form.formtastic fieldset > ol > li.password input:focus, form.formtastic fieldset > ol > li.numeric input:focus, form.formtastic fieldset > ol > li.text textarea:focus {
        border: 1px solid #a2a294; }
      form.formtastic fieldset > ol > li.datepicker input:focus {
        border: 1px solid #a2a294;
        background: url("images/icons/calendar-hover.png") no-repeat right; }
      form.formtastic fieldset > ol > li.string input[disabled='disabled'], form.formtastic fieldset > ol > li.password input[disabled='disabled'], form.formtastic fieldset > ol > li.numeric input[disabled='disabled'], form.formtastic fieldset > ol > li.text textarea[disabled='disabled'], form.formtastic fieldset > ol > li.datepicker input[disabled='disabled'] {
        background-color: #f6f6f6;
        border: 1px solid #f6f6f6;
        -webkit-box-shadow: none;
        -moz-box-shadow: none; }
      form.formtastic fieldset > ol > li.boolean label {
        padding-left: 0px; }

#box .block .content form.formtastic fieldset > ol > li input {
  /* caixas (como a de login) têm tamanho fixo. Definir o
   * width de text fields dá problemas no IE. Desta forma,
   * ficou funcional */
  width: auto;
  max-width: 430px; }

form.formtastic {
  /* BUTTON */ }
  form.formtastic fieldset > ol > li {
    margin-bottom: 10px;
    /* HINT */ }
    form.formtastic fieldset > ol > li.date fieldset ol li, form.formtastic fieldset > ol > li.time fieldset ol li, form.formtastic fieldset > ol > li.datetime fieldset ol li {
      height: 20px; }
    form.formtastic fieldset > ol > li.error input {
      border: 1px solid #ffbbbb; }
    form.formtastic fieldset > ol > li.radio fieldset ol li {
      margin-bottom: 4px; }
      form.formtastic fieldset > ol > li.radio fieldset ol li label {
        color: #222222;
        font-size: 13px;
        font-weight: normal; }
    form.formtastic fieldset > ol > li.datepicker input {
      -webkit-box-shadow: none;
      -moz-box-shadow: none; }
    form.formtastic fieldset > ol > li select {
      margin-bottom: 4px; }
    form.formtastic fieldset > ol > li p.inline-hints {
      font-style: italic;
      color: #8c8c8c;
      font-size: 0.9em;
      margin: 2px 0 0 0; }
  form.formtastic button.button, form.formtastic a.button {
    font-size: 12px; }

/* CHECK_BOXES */
#box .block .content form.formtastic fieldset > ol > li.check_boxes fieldset ol {
  width: 440px; }
  #box .block .content form.formtastic fieldset > ol > li.check_boxes fieldset ol li label {
    color: #222222;
    font-size: 13px;
    font-weight: normal;
    padding-right: 50px; }

/*  Stylesheet for attrtastic
 *
 *  David Marquês Francisco
 *  (dfrancisc[at]gmail.com)
 *
 */
.attrtastic {
  /* COLUNAS */ }
  .attrtastic .attributes > ol {
    list-style: none; }
    .attrtastic .attributes > ol > li.attribute {
      margin-bottom: 10px;
      line-height: 18px;
      margin-right: -6px; }
      .attrtastic .attributes > ol > li.attribute .label {
        color: #666666;
        width: 100%;
        display: block;
        font-size: 14px; }
      .attrtastic .attributes > ol > li.attribute .value {
        background-color: #f6f6f6;
        padding: 2px;
        padding-left: 4px;
        display: block;
        min-height: 18px;
        font-size: 13px; }
  .attrtastic hr {
    height: 1px;
    border-bottom: solid #e8e8e8 1px;
    margin-bottom: 15px;
    background-color: white; }
  .attrtastic .attributes > ol {
    float: left;
    width: 100%; }
  .attrtastic .column_left {
    float: left;
    width: 47%;
    margin-left: 0px; }
  .attrtastic .column_right {
    float: right;
    width: 48%;
    margin-right: 0px; }

/*    Components included in this stylesheet that
 *    don't exist in other web-app-theme themes
 *    ------------------------------------------------
 *
 *    #full-main (ocupa os 100% de width para
 *      páginas que não têm barra lateral)
 *    .flash .error-list
 *    #sidebar .warning
 *    .breadcrumb
 *    .searchform
 *    a.global_button (não está a ser utilizado
 *      mas pode ser útil. São botões que ficam
 *      na barra de separadores)
 *    .block-norounded (blocos sem as pontas
 *      arredondadas)
 *    .secondary-inner-nav (navegação sem as
 *      pontas arredondadas para blocos
 *      interiores)
 *    div.tooltip (reimplementa o aspecto das
 *      tooltips que mostram o 'title' das
 *      imagens)
 *    .highlighted-title-info (informação
 *      adicional para títulos)
 */
body {
  color: #111111;
  background: #c4c4c4 url("images/bgd.png");
  font-family: helvetica, arial, sans-serif; }

h1, h2, h3 {
  color: #111111;
  font-weight: normal;
  font-family: helvetica, arial, sans-serif; }

a:link, a:visited, a:hover, a:active {
  color: #111111; }

a {
  -moz-outline: none; }

hr {
  background: #dddddd;
  color: #dddddd; }

#header {
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  background-position: 20px 20px;
  height: 80px;
  background-color: #333333;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3); }
  #header h1 {
    padding: 15px 55px;
    font-size: 40px;
    font-style: normal;
    text-transform: normal;
    letter-spacing: -1px;
    line-height: 1.2em;
    color: white; }
    #header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
      color: white; }

#main, #full-main {
  width: 77%;
  float: left; }
  #main .block, #full-main .block {
    padding-top: 0px;
    background-color: white;
    text-shadow: 0 1px 0 white;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3); }
    #main .block .content, #full-main .block .content {
      padding-top: 1px; }
      #main .block .content .inner, #full-main .block .content .inner {
        padding: 0 15px 15px; }
      #main .block .content h2, #full-main .block .content h2 {
        margin-left: 15px;
        font-size: 22px;
        text-transform: normal;
        letter-spacing: -1px;
        line-height: 1.2em; }
      #main .block .content p, #full-main .block .content p {
        font-size: 13px;
        font-style: normal;
        font-weight: normal;
        text-transform: normal;
        letter-spacing: normal;
        line-height: 1.45em; }
  #main .block-norounded, #full-main .block-norounded {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3); }

#full-main {
  width: 100%; }
  #full-main .block {
    margin-bottom: 20px; }

#main-navigation {
  padding-left: 165px;
  width: auto; }
  #main-navigation ul li {
    float: left;
    padding-right: 15px;
    margin-right: 0; }
    #main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active {
      padding: 8px 0;
      text-decoration: none;
      color: #eeeeee; }
    #main-navigation ul li.active a:link, #main-navigation ul li.active a:visited, #main-navigation ul li.active a:hover, #main-navigation ul li.active a:active {
      color: #a4a4a4; }

.secondary-navigation {
  background: #e0e0e0 url("images/boxbar-background.png") top;
  border-bottom-width: 0px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px; }
  .secondary-navigation li.first a, .secondary-navigation ul li.first {
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px; }
  .secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active {
    text-decoration: none;
    color: #111111; }
  .secondary-navigation ul li.text {
    padding: 10px 15px;
    color: #818171; }
  .secondary-navigation ul li.active {
    background-color: white; }
    .secondary-navigation ul li.active a:hover {
      background-color: white; }

#user-navigation {
  top: auto;
  right: 10px; }

#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
  text-decoration: none;
  color: #111111; }
#user-navigation ul li a:active img {
  margin-top: 1px; }

#user-navigation ul li, .secondary-navigation ul li {
  float: left; }

.secondary-inner-nav {
  background-color: #f0eff0;
  background-image: url("images/boxbar-background.png");
  font-size: 13px;
  border-bottom-color: white;
  border-bottom-width: 10px;
  border-bottom-style: solid; }
  .secondary-inner-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .secondary-inner-nav ul li {
      float: left; }
      .secondary-inner-nav ul li.active {
        background-color: white; }
        .secondary-inner-nav ul li.active a:hover {
          background-color: white; }
      .secondary-inner-nav ul li a {
        display: block;
        padding: 10px 15px; }
        .secondary-inner-nav ul li a:link, .secondary-inner-nav ul li a:visited, .secondary-inner-nav ul li a:hover, .secondary-inner-nav ul li a:active {
          text-decoration: none;
          color: #261f1f; }

#footer {
  color: white; }
  #footer .block {
    background: #261f1f;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px; }
  #footer p {
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: 0 1px 0 #555555; }

#sidebar {
  width: 20%;
  float: right; }
  #sidebar .block {
    padding-top: 2px;
    padding-bottom: 2px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6); }
    #sidebar .block h4 {
      font-weight: normal;
      font-family: helvetica, arial, sans-serif; }
  #sidebar .notice {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0)));
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3); }
  #sidebar .warning {
    padding-left: 10px;
    padding-right: 10px;
    color: #222222;
    background: #ffef4e;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3); }
  #sidebar h3 {
    padding-left: 25px;
    color: #111111;
    border-bottom: 1px solid #261f1f; }
  #sidebar ul li {
    background-position: 0 11px;
    background-repeat: no-repeat;
    background-image: url("images/arrow.png");
    border-bottom: 1px dashed #777777;
    list-style-type: none; }
    #sidebar ul li a {
      margin-left: 10px;
      text-decoration: none;
      text-shadow: 0 1px 0 white; }
    #sidebar ul li.active a {
      color: #a4a4a4; }

.breadcrumb {
  background-color: #f4f4f4;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px; }
  .breadcrumb ul {
    height: 20px;
    padding-bottom: 15px;
    padding-top: 0px;
    list-style-type: none; }
    .breadcrumb ul li {
      color: #777777;
      display: block;
      padding-top: 10px;
      padding-left: 17px;
      margin-right: 15px;
      background: url("images/breadcrumb.png") no-repeat 0px 12px;
      float: left; }
      .breadcrumb ul li a {
        text-decoration: none;
        color: #777777; }
      .breadcrumb ul li.first {
        padding-left: 15px;
        background: none; }
      .breadcrumb ul li.active {
        color: #a4a4a4; }

.control {
  float: right;
  margin-right: 9px;
  margin-top: 11px; }

.pagination a, .pagination span {
  border: 1px solid #c3c4ba;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-right: 5px;
  padding: 6px;
  min-width: 15px;
  text-align: center;
  background: #dddddd;
  background-image: url("images/button-background.png");
  color: #111111; }
.pagination a:hover {
  border: 1px solid #818171;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); }
.pagination span.current {
  background: #261f1f;
  color: white;
  border: 1px solid #261f1f; }

.pagination a:active {
  background-image: url("images/button-background-active.png");
  outline: none; }

.table th {
  background: #eaeaea;
  color: #222222;
  font-weight: normal; }
  .table th.last {
    width: 80px; }
.table td {
  border-bottom: 1px solid #eaeaea; }
  .table td.last {
    padding-top: 0px;
    padding-bottom: 0px; }
.table tr.even {
  background: #f8f8f8; }

.form label.label {
  font-family: helvetica, arial, sans-serif;
  font-weight: normal;
  color: #666666; }
.form input.text_field, .form textarea.text_area {
  width: 100%;
  border: 1px solid #dddddd;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); }
.form input.button {
  background: #dddddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  padding: 2px 5px;
  cursor: pointer;
  color: #111111;
  font-weight: bold;
  font-size: 11px; }
  .form input.button:hover {
    border: 1px solid #666666; }
.form .description {
  font-style: italic;
  color: #8c8c8c;
  font-size: 0.9em; }
.form .navform a {
  color: #cc0000; }

.search {
  border: 1px solid #c1c1c1;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  padding: 0px;
  margin: 0px;
  position: relative;
  float: right;
  width: 300px;
  height: 25px; }
  .search form {
    display: inline; }

.search_box {
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  border: 0px;
  background-color: transparent;
  position: absolute;
  left: 0px;
  width: 266px;
  height: 25px;
  padding-left: 10px;
  -moz-border-radius-topleft: 13px;
  -webkit-border-top-left-radius: 13px;
  border-top-left-radius: 13px;
  -moz-border-radius-bottomleft: 13px;
  -webkit-border-bottom-left-radius: 13px;
  border-bottom-left-radius: 13px;
  outline: none; }

.search_submit {
  border: 0px;
  background: transparent url("images/search-button.png") no-repeat center left;
  position: absolute;
  left: 273px;
  height: 25px;
  width: 27px;
  cursor: pointer;
  -moz-border-radius-topright: 13px;
  -webkit-border-top-right-radius: 13px;
  border-top-right-radius: 13px;
  -moz-border-radius-bottomright: 13px;
  -webkit-border-bottom-right-radius: 13px;
  border-bottom-right-radius: 13px; }

#wrapper .ra-multiselect-search {
  background: transparent url("images/search-button.png") no-repeat scroll 166px center;
  border: 1px solid #c1c1c1;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  float: left;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  height: 25px;
  margin: 0 25px 15px 0;
  outline: none;
  padding: 0 25px 0 10px;
  width: 155px; }

#wrapper .ra-multiselect-collection, .ra-multiselect-selection {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); }

.flash .message {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  margin: 0 auto 15px;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.1); }
  .flash .message p {
    margin: 8px; }
.flash .error, .flash .error-list {
  border: 1px solid #993624;
  background: #cc4831 url("images/messages/error.png") no-repeat 10px center; }
.flash .warning {
  border: 1px solid #bb9004;
  background: #f9c006 url("images/messages/warning.png") no-repeat 10px center; }
.flash .notice {
  color: #28485e;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  border: 1px solid #8a9daa;
  background: #b8d1e2 url("images/messages/notice.png") no-repeat 10px center; }
.flash .error-list {
  text-align: left; }
  .flash .error-list h2 {
    font-size: 16px;
    text-align: center; }
  .flash .error-list ul {
    padding-left: 22px;
    line-height: 18px;
    list-style-type: square;
    margin-bottom: 15px; }

ul.list li {
  border-bottom-color: #dddddd;
  border-bottom-width: 1px;
  border-bottom-style: solid; }
  ul.list li .item .avatar {
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
    padding: 2px; }

#box {
  width: 480px; }
  #box .block {
    background: white;
    text-shadow: 0 1px 0 white;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px; }
    #box .block h2 {
      background: #261f1f;
      color: white;
      text-shadow: none;
      -moz-border-radius-topleft: 6px;
      -webkit-border-top-left-radius: 6px;
      border-top-left-radius: 6px;
      -moz-border-radius-topright: 6px;
      -webkit-border-top-right-radius: 6px;
      border-top-right-radius: 6px; }

a.button, button.button {
  background: #edeeed url("images/button-background.png") top;
  border: 1px solid #c3c4ba;
  font-family: helvetica, arial, sans-serif;
  font-weight: normal;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
  a.button:link, a.button:visited, a.button:hover, a.button:active, button.button:link, button.button:visited, button.button:hover, button.button:active {
    font-weight: normal;
    background: #edeeed url("images/button-background.png") top; }

a.button:active, button.button:active {
  /* quando se clica no botão */
  background: #eaeaea url("images/button-background-active.png") top;
  outline: none;
  margin-top: 1px;
  margin-bottom: -1px; }

.form div.left {
  width: 10%;
  float: left; }
.form div.right {
  width: 85%;
  float: right; }

.login div.left, .signup div div.left {
  width: 21%;
  float: left; }
.login div.right, .signup div div.right {
  width: 74%;
  float: right; }

.badge, .badge-grey, .badge-green, .badge-yellow, .badge-red {
  display: inline;
  font-size: 13px;
  vertical-align: top;
  padding-left: 3px;
  padding-right: 5px;
  margin-left: 5px;
  font-weight: normal;
  text-transform: lowercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  font-family: helvetica, arial, sans-serif;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; }

.badge-grey {
  background-color: #a4a4a4;
  color: white; }

.badge-green {
  background-color: #1fdf00;
  color: white; }

.badge-yellow {
  background-color: #ffee79;
  color: black; }

.badge-red {
  background-color: #cc0000;
  color: white; }
