<div class="field <%= field.dom_id %>">
  <%= form.label field.method_name, field.label %>
  <%= form.file_field field.method_name, :class => "#{field.css_class} #{field.has_errors? ? "errorField" : nil}" %>
</div>