<%
  visible_fields = form_section.visible_fields
%>
<% if visible_fields.length > 0 %>
            <h2><%= form_section.label %></h2>
            <div class="formSection">
<%= render(:partial => 'field', :collection => visible_fields.map{|field| field.with(:object => @object, :view => self)}) -%>
            </div>
<% end %>
