= form.select field.method_name, field.enum, {:include_blank => true}, field.html_attributes.reverse_merge({ :class => "enum", :placeholder => t('admin.index.search') })
= javascript_tag do
  jQuery(function($) {
  $("##{"#{field.dom_id}"}").filteringSelect({});
  })
