:ruby
  if field.ckeditor
    richtext = 'ckeditor'
    js_data = {
      :jspath => '/assets/ckeditor/ckeditor.js',
      :options => { 
        :customConfig => field.ckeditor_config_js
      }
    }
  else
    richtext = false
    js_data = {}
  end

= form.text_area field.method_name, field.html_attributes.reverse_merge(:data => { :richtext => richtext, :options => js_data.to_json }).reverse_merge((hdv = field.html_default_value).nil? ? { :value => field.formatted_value } : { :value => hdv })
