= form.select field.method_name, field.enum, {:include_blank => true}, field.html_attributes.reverse_merge({ :placeholder => t('admin.index.search') })
= form.javascript_for(field) do
  :plain
    $("#{form.jquery_namespace(field)} input").filteringSelect({});
