<%
  max_visible_tabs = RailsAdmin::Config::Sections::Navigation.max_visible_tabs
  models = RailsAdmin::Config::Sections::Navigation.visible_models.select { |model| authorized?(:list, model.abstract_model) }
%>
      <ul id="nav">
        <li <%if @page_type == "dashboard" %>class="active"<% end %>><%= link_to(t("admin.dashboard.name"), rails_admin_dashboard_path) %></li>
<% models[0..max_visible_tabs-1].each do |model| %>
        <li <%if @page_type == model.abstract_model.pretty_name.downcase %>class="active"<% end %>><%= link_to(model.navigation.label, rails_admin_list_path(:model_name => model.abstract_model.to_param)) %></li>
<% end %>
<% if models.size > max_visible_tabs %>
        <li class="more">
          <a href="#">&raquo;</a>
          <ul>
          <% models[max_visible_tabs..models.size].each do |model| %>
          <li <%if @page_type == model.abstract_model.pretty_name.downcase %>class="active"<% end %>><%= link_to(model.navigation.label, rails_admin_list_path(:model_name => model.abstract_model.to_param)) %></li>
          <% end %>
          </ul>
        </li>
<% end %>
      </ul>
