<ul class="submit clearfix">
  <li class="save">
    <%= submit_tag t("admin.new.save"), :class => "ra-button ui-state-highlight", :name => "_save" %>
  </li>

  <% if authorized? :new, @abstract_model %>
    <li class="save add">
      <%= submit_tag t("admin.new.save_and_add_another"), :class => "ra-button", :name => "_add_another" %>
    </li>
  <% end %>

  <li class="save edit">
    <%= submit_tag t("admin.new.save_and_edit"), :class => "ra-button", :name => "_add_edit" %>
  </li>

  <li class="cancel">
    <%= submit_tag t("admin.new.cancel"), :class => "ra-button", :name => "_continue" %>
  </li>
</ul>
