.actions
  %button.btn.primary{:type => "submit", :name => "_save"}
    = t("admin.new.save")
  %span.extra_buttons
    - if authorized? :new, @abstract_model
      %button.btn{:type => "submit", :name => "_add_another"}
        = t("admin.new.save_and_add_another")
    %button.btn{:type => "submit", :name => "_add_edit"}
      = t("admin.new.save_and_edit")
    %button.btn{:type => "submit", :name => "_continue"}
      = t("admin.new.cancel")
