%ul.submit.clearfix
  %li.save
    = submit_tag t("admin.new.save"), :class => "ra-button ui-state-highlight", :name => "_save"
  %li.save.add
    = submit_tag t("admin.new.save_and_add_another"), :class => "ra-button", :name => "_add_another"
  %li.save.edit
    = submit_tag t("admin.new.save_and_edit"), :class => "ra-button", :name => "_add_edit"
  %li.cancel
    = submit_tag t("admin.new.cancel"), :class => "ra-button", :name => "_continue"
