- if current_user = _current_user
  .user_info
    = current_user.email
    - gravatar = (request.ssl? ? "https://secure" : "http://www")+".gravatar.com/avatar"
    = image_tag "#{gravatar}/#{Digest::MD5.hexdigest current_user.email}?s=30", :alt => ""
