= form_for @object, :url => update_path(@abstract_model, @object.id), :html => { :method => "put", :multipart => true, :class => "form" }, :builder => RailsAdmin::FormBuilder do |form|
  = form.render :update