<p id="listing"><strong><%= Time.parse("#{@current_month.year}-#{@current_month.month}-01").strftime("%B %Y")%></strong> History:</p>
<ul id="history">
<% @history.each do |t|%>
<li><%= t.username%> <%= history_output(t)%></li>
<% end %>
</ul>
