<p id="listing">Listing <strong><%= Time.parse("01/#{@current_month.month}/#{@current_month.year}").strftime("%B %Y")%></strong> History:</p>
<ul id="history">
<% @history.each do |t|%>
<li><%= t.username%> <%= history_output(t)%></li>
<% end %>
</ul>
