= form_for @object, :url => create_path(:model_name => @abstract_model.to_param, :id => @object.id), :html => { :multipart => true, :data => { :title => @page_name } }, :builder => RailsAdmin::FormBuilder do |form|
  = form.render :create
