= form_for @object, :url => create_path(:model_name => @abstract_model.to_param, :id => @object.id), :html => { :multipart => true, :class => "form" }, :builder => RailsAdmin::FormBuilder do |form|
  = form.render :create
