%ul.tabs{"data-tab" => true}
  %li.tab-title.active
    %a{href: '#information'} Information
  %li.tab-title
    %a{href: '#history'} History

.tabs-content
  .content.active#information
    = render template: "rails_admin/main/edit"
  .content#history
    = render template: "rails_admin/main/history"
