/*
  Customize Sass variables from Twitter-Bootstrap/RailsAdmin theme or add new ones for your own use.

  Available variables to use/override:

  https://github.com/thomas-mcdonald/bootstrap-sass/blob/master/vendor/assets/stylesheets/bootstrap/variables.css.scss
  https://github.com/sferik/rails_admin/blob/master/app/assets/stylesheets/rails_admin/base/variables.css.scss

  Test me: pink links

  $linkColor: #F0F;
*/
