/* Code is poetry */

#container #header {
  background-image: none;
}

#header h1.title {
  float: left;
  padding: 15px 5px;
  text-shadow: 1px 1px 1px #000;
  font-family: Tahoma, "Arial Black", Arial"MS Trebuchet", sans-serif;
  font-weight: bold;
}

.red {
  color: #C00;
}

/* Sidebar hacks, mostly applies specificly to Activo2 */
ul#nav li.active>a  {
  font-weight: bold;
}

#sidebar ul#nav ul {
  padding-left:10px;
}

#sidebar ul#nav li a {
  color: inherit;
}

#sidebar ul#nav ul li {
  border-bottom: none;
}

/* Buttons on the list pages bottom right can be aligned hard right: */
.form .columns .column {
  width: inherit;
}

.filter input.text_field {
  width: 150px;
  height: 20px;
}

/* Override activo styles to make the search box smaller */
.control .search {
  width: 200px;
}

.control .search_box {
  width: 166px;
}

.control .search_submit {
  left: 173px;
}

/* Make the select box in the list page's controls area smaller */
.selector.small {
  width: 132px;
}

.selector.small span {
  width: 100px;
}

ul.items {
  list-style-type: none;
}

ul.items>li>ul {
  list-style-type: none;
  padding:5px 0 5px 10px;
  line-height:16px;
}
