#modelNameHeader {
  margin-left:5px;
  text-align: left;
}

.grid tbody td.modelNameRow {
  text-align: left;
  margin-left:5px;
}

.grid tbody td {
  padding: 4px;
  border: none;
}

.scale{
  margin:0 auto;
  display:block;
  width:200px;
  height:13px;
}

.scale .bar {
  display: block;
  height: 100%;
}

.add{
  color:#9a012f;
  font-weight:bold;
  text-decoration:none;
  padding-right:3px;
}

a.add:hover{
  text-decoration:underline;
}

.show{
  padding-left:3px;
  color:#215086;
  font-weight:bold;
  text-decoration:none;
}

a.show:hover{
  text-decoration:underline;
}

.section h2{
  margin-top:2px;
  font-size:12px;
  border-bottom:1px solid #DDD;
  padding-bottom:4px;
  font-weight:normal;
  padding-left:5px;
  margin-top:5px;
}

#listing{
  margin-top:40px;
  margin-bottom:5px;
}

#history{
  list-style-type:none;
}

#history li{
  padding-bottom:8px;
}

#history li a img{
  border:none;
  position:relative;
  top:4px;
  left:2px;
}

#history li em{
  font-style:normal;
  text-decoration:underline;
}

#history li{
  font-size:11px;
  font-weight:bold;
}