form fieldset {
  border:none;
}

form legend {
  width: 100%;
  clear:both;
  margin-top:2px;
  margin-bottom:3px;
  border-bottom:1px solid #b9b9b9;
  padding-bottom:4px;
  color:#9e988e;
  text-transform:uppercase;
  font-weight:bold;
  font-size:10px;
}


form a.createAssociatedRecord {
    line-height: 24px;
    margin-left: 10px;
}

form .field>label, form .field>.field_with_errors>label {
  display:block;
  float:left;
  margin-top:6px;
  font-size:11px;
  font-weight:bold;
  margin-left:2px;
  width:100px;
}

form label.inline {
  display:inline;
  float:none;
  font-weight:normal;
}


.field {
  padding: 15px 0 0 0;
}


.field .date,
.field .datetime,
.field .hasDatepicker,
.field .hasTimepicker,
.field .decimal,
.field .float,
.field .integer,
.field .text,
.field .time,
.field .timestamp,
.field .password,
.field .string {
  font-family:Verdana, Geneva, sans-serif;
  font-size:12px;
  padding:5px;
  width:250px;
  border-left:1px solid #e2e3ea;
  border-top:1px solid #abadb3;
  border-bottom:1px solid #e3e9ef;
  border-right:1px solid #dbdfe6;
}

.field .decimal {
  width:170px;
}

.field .float {
  width:120px;
}

.field .date, .field .timestamp, .field .time, .field .datetime, .field .hasDatepicker {
  padding-right: 20px;
  width:150px;
}

.field .date, .field .datetime, .field .hasDatepicker {
  background: url("../../images/rails_admin/calendar.png") no-repeat right;
}

.field .time, .field .timestamp, .field .hasTimepicker {
  background: url("../../images/rails_admin/clock.png") no-repeat right;
}

.field .integer {
  width:90px;
}

.field .text {
  height:100px;
  width: 450px;
}

.errorField {
  border:1px solid #bd2b14;
}

.errorMessage {
  display:block;
  margin-top:5px;
  margin-left:103px;
  color:#bd2b14;
}

#main .block .content p.help, p.help {
  clear:both;
  font-size: 11px;
  margin-left:103px;
  display:block;
  color: #999;
  margin-bottom: 0;
  margin-top: 6px;
  font-style: italic;
}

.cke_skin_kama {
  margin-left: 100px;
}

.createAssociatedRecordDialog {
  padding: 10px;
}

.createAssociatedRecordDialog div.secondary-navigation,
.createAssociatedRecordDialog span.extra_buttons {
  display: none;
}

.group.navform.wat-cf {
  /* position the submit_buttons correctly: */
  margin-top: 30px;
  margin-bottom: 0;
}
