.ra-multiselect {
  
  .ra-multiselect-header {
    margin-bottom: 5px;
    clear: right;
    .help {
      float: left;
      font-size: 10px;
    }
    .ui-icon {
      position: relative;
      top: 10px;
      left: 3px;
    }
    .ra-multiselect-search {
      background: transparent image-url("rails_admin/magnifier.png") no-repeat scroll 166px center;
      border: 1px solid #c1c1c1;
      -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
      -moz-border-radius: 13px;
      -webkit-border-radius: 13px;
      border-radius: 13px;
      float: left;
      font-family: helvetica, arial, sans-serif;
      font-size: 13px;
      height: 25px;
      margin: 0 25px 15px 0;
      outline: none;
      padding: 0 25px 0 10px;
      width: 155px; 
    }
  }
  

  .ra-multiselect-column {
    width: 190px;
    float: left;
  }

  .ra-multiselect-center {
    width: 30px;
    padding-top: 15px;
    text-align: center;
    .ui-icon {
      margin: 5px auto;
    }
  }
  .ra-multiselect-collection, .ra-multiselect-selection {
    height: 130px;
    margin-bottom: 5px;
    padding: 5px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    width: 100%;
    border-left: 1px solid #e2e3ea;
    border-top: 1px solid #abadb3;
    border-bottom: 1px solid #e3e9ef;
    border-right: 1px solid #dbdfe6;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); 
  }
  
  a {
    font-weight: bold;
    font-size: 11px;
    cursor:pointer;
    &:hover {
      text-decoration:none;
    }
  }
  span.ui-icon {
    margin-right: 4px;
  }
  .ui-icon {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    &.ui-icon-circle-triangle-e {
      background-position: -16px -32px !important;
      background-image: image-url("rails_admin/multiselect/icon_sprite.png");
    }
    &.ui-icon-circle-triangle-e:hover {
      background-position: -16px -48px !important;
      background-image: image-url('rails_admin/multiselect/icon_sprite.png');
    }
    &.ui-icon-circle-triangle-w {
      background-position: 0px -32px !important;
      background-image: image-url('rails_admin/multiselect/icon_sprite.png');
    }
    &.ui-icon-circle-triangle-w:hover {
      background-position: 0px -48px !important;
      background-image: image-url('rails_admin/multiselect/icon_sprite.png');
    }
    &.ui-icon-circle-triangle-n {
      background-position: 0px 0px !important;
      margin-left: 1px;
      background-image: image-url('rails_admin/multiselect/ui-icon-circle-triangle-n-light.png');
    }
    &.ui-icon-circle-triangle-n:hover {
      background-position: 0px 0px !important;
      margin-left: 1px;
      background-image: image-url('rails_admin/multiselect/ui-icon-circle-triangle-n-dark.png');
    }
    &.ui-icon-circle-triangle-s {
      background-position: 0px 0px !important;
      margin-left: 1px;
      background-image: image-url('rails_admin/multiselect/ui-icon-circle-triangle-s-light.png');
    }
    &.ui-icon-circle-triangle-s:hover {
      background-position: 0px 0px !important;
      margin-left: 1px;
      background-image: image-url('rails_admin/multiselect/ui-icon-circle-triangle-s-dark.png');
    }
  }  
} 

