<% if page.current? %>
  <li class="page-item active">
    <%= link_to page, url, class: ['page-link', ('pjax' if remote)].compact %>
  </li>
<% else %>
  <li class="page-item">
    <%= link_to page, url, class: ['page-link', ('pjax' if remote)].compact %>
  </li>
<% end %>
