<% if page.current? %>
  <li class="active">
    <%= link_to page, url, class: (remote ? 'pjax' : '') %>
  </li>
<% else %>
  <li>
    <%= link_to page, url, class: (remote ? 'pjax' : '') %>
  </li>
<% end %>
