<% if current_page.first? %>
  <li class="page-item prev disabled">
    <%= link_to raw(t 'admin.pagination.previous'), '#', class: 'page-link' %>
  </li>
<% else %>
  <li class="page-item prev">
    <%= link_to raw(t 'admin.pagination.previous'), url, class: 'page-link' %>
  </li>
<% end %>
