      <% if flash && flash[:error] %>
      <p class="errornote">
        <%= flash[:error] %>
      </p>
      <% end %>
      <% if flash && flash[:notice] %>
      <ul class="flashlist">
        <li><%= flash[:notice] %></li>
      </ul>
      <% end %>
