      <% if flash && flash[:error] %>
      <div id="error">
        <%= flash[:error] %>
      </div>
      <% end %>
      <% if flash && flash[:notice] %>
      <div id="highlight">
        <%= flash[:notice] %>
      </div>
      <% end %>
